CONFIG_CUSTOMER_VERSION_NUMBER="4.2.2"
CONFIG_CUSTOMER_VERSION_RELEASENOTES="Firmware generated using glbuilder, powered by GL.iNet"
CONFIG_CUSTOMER_VERSION_TYPE="Stable"
# CONFIG_GL_MODEL_a1300 is not set
CONFIG_GL_MODEL_mt3000=y
CONFIG_PACKAGE_mt3000_4.2.2_8021xd=y
CONFIG_PACKAGE_mt3000_4.2.2_acl=y
CONFIG_PACKAGE_mt3000_4.2.2_attr=y
CONFIG_PACKAGE_mt3000_4.2.2_avahi-dbus-daemon=y
CONFIG_PACKAGE_mt3000_4.2.2_base-files=y
CONFIG_PACKAGE_mt3000_4.2.2_blkid=y
CONFIG_PACKAGE_mt3000_4.2.2_block-mount=y
CONFIG_PACKAGE_mt3000_4.2.2_busybox=y
CONFIG_PACKAGE_mt3000_4.2.2_ca-bundle=y
CONFIG_PACKAGE_mt3000_4.2.2_ca-certificates=y
CONFIG_PACKAGE_mt3000_4.2.2_cgi-io=y
CONFIG_PACKAGE_mt3000_4.2.2_chat=y
CONFIG_PACKAGE_mt3000_4.2.2_comgt=y
CONFIG_PACKAGE_mt3000_4.2.2_comgt-ncm=y
CONFIG_PACKAGE_mt3000_4.2.2_conntrack=y
CONFIG_PACKAGE_mt3000_4.2.2_curl=y
CONFIG_PACKAGE_mt3000_4.2.2_dbus=y
CONFIG_PACKAGE_mt3000_4.2.2_ddns-scripts=y
CONFIG_PACKAGE_mt3000_4.2.2_ddns-scripts-services=y
CONFIG_PACKAGE_mt3000_4.2.2_dhcpdiscover=y
CONFIG_PACKAGE_mt3000_4.2.2_dnscrypt-proxy2=y
CONFIG_PACKAGE_mt3000_4.2.2_dnsmasq-full=y
CONFIG_PACKAGE_mt3000_4.2.2_dosfstools=y
CONFIG_PACKAGE_mt3000_4.2.2_dropbear=y
CONFIG_PACKAGE_mt3000_4.2.2_e2fsprogs=y
CONFIG_PACKAGE_mt3000_4.2.2_ethtool=y
CONFIG_PACKAGE_mt3000_4.2.2_fcgi=y
CONFIG_PACKAGE_mt3000_4.2.2_firewall=y
CONFIG_PACKAGE_mt3000_4.2.2_fstools=y
CONFIG_PACKAGE_mt3000_4.2.2_fwdd=y
CONFIG_PACKAGE_mt3000_4.2.2_fwtool=y
CONFIG_PACKAGE_mt3000_4.2.2_getdns=y
CONFIG_PACKAGE_mt3000_4.2.2_getrandom=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-oui-rpc=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-acl=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-adguardhome=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-base-files=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-cable=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-carrier-monitor=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-clients=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-cloud=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-cloud-batch-manage=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ddns=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-dns=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-edgerouter=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-firewall=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-igmp=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-init-portal=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ipv6=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-lan=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-led=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-log=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-logread=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-lua-utils=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-luci=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-macclone=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-modem=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-mqtt=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-mtk-wifi-v2=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-mwan3=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-nas-exfat=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-nas-utils=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-nas-web=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-netmode=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-network=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-network-diag=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ovpn-client=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ovpn-server=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-plugins=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-qos=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-repeater=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-rtty=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-s2s=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-switch-button=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-system=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-tailscale=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-tethering=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-timer=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-tor=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-uci=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-adguardhome=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-adminpw=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-advanced=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-bridge=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-btnsettings=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-clients=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-cloud=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-core=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-dnsview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-dynamicdns=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-edgerouter=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-firewallview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-home=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-hwnat=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-igmp=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-internet=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-ipv6=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-lanip=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-login=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-logview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-macclone=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-modemmanage=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-multiwan=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-nasview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-overview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-ovpnclient=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-ovpnserver=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-parentalcontrol=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-plugins=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-process=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-reset=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-sms=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-tailscaleview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-timedtask=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-timezone=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-torview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-upgrade=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-vlan=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-vpndashboard=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-welcome=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-wgclient=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-wgserver=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-wireless=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-ui-zerotierview=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-upgrade=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-utils=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-vpn-policy=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-webdav=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-wg-client=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-wg-server=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-wifi=y
CONFIG_PACKAGE_mt3000_4.2.2_gl-sdk4-zerotier=y
CONFIG_PACKAGE_mt3000_4.2.2_httping=y
CONFIG_PACKAGE_mt3000_4.2.2_ip-full=y
CONFIG_PACKAGE_mt3000_4.2.2_ip6tables=y
CONFIG_PACKAGE_mt3000_4.2.2_ipset=y
CONFIG_PACKAGE_mt3000_4.2.2_iptables=y
CONFIG_PACKAGE_mt3000_4.2.2_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_mt3000_4.2.2_iptables-mod-extra=y
CONFIG_PACKAGE_mt3000_4.2.2_iptables-mod-filter=y
CONFIG_PACKAGE_mt3000_4.2.2_iptables-mod-ipopt=y
CONFIG_PACKAGE_mt3000_4.2.2_iptables-mod-tproxy=y
CONFIG_PACKAGE_mt3000_4.2.2_iwinfo=y
CONFIG_PACKAGE_mt3000_4.2.2_jansson4=y
CONFIG_PACKAGE_mt3000_4.2.2_jshn=y
CONFIG_PACKAGE_mt3000_4.2.2_jsonfilter=y
CONFIG_PACKAGE_mt3000_4.2.2_kernel=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-arptables=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-br-netfilter=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-conninfra=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-aead=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-arc4=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-cbc=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-crc32c=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-cts=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-des=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-ecb=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-hash=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-hmac=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-kpp=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-manager=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-md5=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-null=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-pcompress=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-crypto-sha1=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-dax=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-dm=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-dnsresolver=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-exfat=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-exportfs=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-ext4=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-nfs=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-nfs-common=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-nfsd=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-ntfs=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fs-vfat=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-fuse=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-gl-sdk4-fan=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-gl-sdk4-hw-info=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-gl-sdk4-parental-control=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-gl-sdk4-tertf=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-hwmon-core=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-hwmon-pwmfan=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ifb=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ip6tables=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-conntrack=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-core=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-extra=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-filter=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-ipopt=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-ipset=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-nat=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-nat6=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-offload=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-raw=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ipt-tproxy=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-leds-gpio=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-lib-crc-ccitt=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-lib-crc16=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-lib-textsearch=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-mediatek_hnat=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-mii=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-mt_wifi=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-mtdoops=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-mtfwd=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-mtqos=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-conntrack=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-conntrack6=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-flow=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-ipt=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-ipt6=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-nat=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-nat6=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-reject=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nf-reject6=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nfnetlink=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nls-base=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nls-cp437=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-nls-utf8=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-ppp=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-pppoe=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-pppox=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-sched-core=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-scsi-core=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-slhc=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-tun=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-udptunnel4=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-udptunnel6=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-acm=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-core=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-ehci=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-net=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-net-rndis=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-ohci=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-serial=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-serial-option=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-storage=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-storage-uas=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-uhci=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb-wdm=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-usb2=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-warp=y
CONFIG_PACKAGE_mt3000_4.2.2_kmod-wireguard=y
CONFIG_PACKAGE_mt3000_4.2.2_libacl=y
CONFIG_PACKAGE_mt3000_4.2.2_libarchive=y
CONFIG_PACKAGE_mt3000_4.2.2_libatomic1=y
CONFIG_PACKAGE_mt3000_4.2.2_libattr=y
CONFIG_PACKAGE_mt3000_4.2.2_libavahi-client=y
CONFIG_PACKAGE_mt3000_4.2.2_libavahi-dbus-support=y
CONFIG_PACKAGE_mt3000_4.2.2_libblkid1=y
CONFIG_PACKAGE_mt3000_4.2.2_libblobmsg-json20210516=y
CONFIG_PACKAGE_mt3000_4.2.2_libbpf0=y
CONFIG_PACKAGE_mt3000_4.2.2_libbz2-1.0=y
CONFIG_PACKAGE_mt3000_4.2.2_libc=y
CONFIG_PACKAGE_mt3000_4.2.2_libcap=y
CONFIG_PACKAGE_mt3000_4.2.2_libcomerr0=y
CONFIG_PACKAGE_mt3000_4.2.2_libcurl4=y
CONFIG_PACKAGE_mt3000_4.2.2_libdaemon=y
CONFIG_PACKAGE_mt3000_4.2.2_libdb47=y
CONFIG_PACKAGE_mt3000_4.2.2_libdbus=y
CONFIG_PACKAGE_mt3000_4.2.2_libdevmapper=y
CONFIG_PACKAGE_mt3000_4.2.2_libelf1=y
CONFIG_PACKAGE_mt3000_4.2.2_libev=y
CONFIG_PACKAGE_mt3000_4.2.2_libevent2-7=y
CONFIG_PACKAGE_mt3000_4.2.2_libexif=y
CONFIG_PACKAGE_mt3000_4.2.2_libexpat=y
CONFIG_PACKAGE_mt3000_4.2.2_libext2fs2=y
CONFIG_PACKAGE_mt3000_4.2.2_libffi=y
CONFIG_PACKAGE_mt3000_4.2.2_libffmpeg-audio-dec=y
CONFIG_PACKAGE_mt3000_4.2.2_libflac=y
CONFIG_PACKAGE_mt3000_4.2.2_libgcc1=y
CONFIG_PACKAGE_mt3000_4.2.2_libgcrypt=y
CONFIG_PACKAGE_mt3000_4.2.2_libgdbm=y
CONFIG_PACKAGE_mt3000_4.2.2_libgmp10=y
CONFIG_PACKAGE_mt3000_4.2.2_libgnutls=y
CONFIG_PACKAGE_mt3000_4.2.2_libgpg-error=y
CONFIG_PACKAGE_mt3000_4.2.2_libid3tag=y
CONFIG_PACKAGE_mt3000_4.2.2_libimobiledevice=y
CONFIG_PACKAGE_mt3000_4.2.2_libip4tc2=y
CONFIG_PACKAGE_mt3000_4.2.2_libip6tc2=y
CONFIG_PACKAGE_mt3000_4.2.2_libipset13=y
CONFIG_PACKAGE_mt3000_4.2.2_libiwinfo-data=y
CONFIG_PACKAGE_mt3000_4.2.2_libiwinfo-lua=y
CONFIG_PACKAGE_mt3000_4.2.2_libiwinfo20210430=y
CONFIG_PACKAGE_mt3000_4.2.2_libjpeg-turbo=y
CONFIG_PACKAGE_mt3000_4.2.2_libjson-c5=y
CONFIG_PACKAGE_mt3000_4.2.2_libjson-script20210516=y
CONFIG_PACKAGE_mt3000_4.2.2_libkeyutils1=y
CONFIG_PACKAGE_mt3000_4.2.2_liblua5.1.5=y
CONFIG_PACKAGE_mt3000_4.2.2_liblucihttp-lua=y
CONFIG_PACKAGE_mt3000_4.2.2_liblucihttp0=y
CONFIG_PACKAGE_mt3000_4.2.2_liblzma=y
CONFIG_PACKAGE_mt3000_4.2.2_liblzo2=y
CONFIG_PACKAGE_mt3000_4.2.2_libminiupnpc=y
CONFIG_PACKAGE_mt3000_4.2.2_libmnl0=y
CONFIG_PACKAGE_mt3000_4.2.2_libnatpmp1=y
CONFIG_PACKAGE_mt3000_4.2.2_libncurses6=y
CONFIG_PACKAGE_mt3000_4.2.2_libnetfilter-conntrack3=y
CONFIG_PACKAGE_mt3000_4.2.2_libnetfilter-cthelper0=y
CONFIG_PACKAGE_mt3000_4.2.2_libnetfilter-cttimeout1=y
CONFIG_PACKAGE_mt3000_4.2.2_libnetfilter-queue1=y
CONFIG_PACKAGE_mt3000_4.2.2_libnettle8=y
CONFIG_PACKAGE_mt3000_4.2.2_libnfnetlink0=y
CONFIG_PACKAGE_mt3000_4.2.2_libnghttp2-14=y
CONFIG_PACKAGE_mt3000_4.2.2_libnl-tiny1=y
CONFIG_PACKAGE_mt3000_4.2.2_libogg0=y
CONFIG_PACKAGE_mt3000_4.2.2_libopenldap=y
CONFIG_PACKAGE_mt3000_4.2.2_libopenssl-conf=y
CONFIG_PACKAGE_mt3000_4.2.2_libopenssl1.1=y
CONFIG_PACKAGE_mt3000_4.2.2_libpcre=y
CONFIG_PACKAGE_mt3000_4.2.2_libplist=y
CONFIG_PACKAGE_mt3000_4.2.2_libpopt0=y
CONFIG_PACKAGE_mt3000_4.2.2_libpthread=y
CONFIG_PACKAGE_mt3000_4.2.2_libpython3-3.9=y
CONFIG_PACKAGE_mt3000_4.2.2_libreadline8=y
CONFIG_PACKAGE_mt3000_4.2.2_librt=y
CONFIG_PACKAGE_mt3000_4.2.2_libsasl2=y
CONFIG_PACKAGE_mt3000_4.2.2_libsqlite3-0=y
CONFIG_PACKAGE_mt3000_4.2.2_libss2=y
CONFIG_PACKAGE_mt3000_4.2.2_libstdcpp6=y
CONFIG_PACKAGE_mt3000_4.2.2_libtasn1=y
CONFIG_PACKAGE_mt3000_4.2.2_libtirpc=y
CONFIG_PACKAGE_mt3000_4.2.2_libubox-lua=y
CONFIG_PACKAGE_mt3000_4.2.2_libubox20210516=y
CONFIG_PACKAGE_mt3000_4.2.2_libubus-lua=y
CONFIG_PACKAGE_mt3000_4.2.2_libubus20210630=y
CONFIG_PACKAGE_mt3000_4.2.2_libuci-lua=y
CONFIG_PACKAGE_mt3000_4.2.2_libuci20130104=y
CONFIG_PACKAGE_mt3000_4.2.2_libuclient20201210=y
CONFIG_PACKAGE_mt3000_4.2.2_liburing=y
CONFIG_PACKAGE_mt3000_4.2.2_libusb-1.0-0=y
CONFIG_PACKAGE_mt3000_4.2.2_libusbmuxd=y
CONFIG_PACKAGE_mt3000_4.2.2_libustream-wolfssl20201210=y
CONFIG_PACKAGE_mt3000_4.2.2_libuuid1=y
CONFIG_PACKAGE_mt3000_4.2.2_libvorbis=y
CONFIG_PACKAGE_mt3000_4.2.2_libwolfssl5.2.0.99a5b54a=y
CONFIG_PACKAGE_mt3000_4.2.2_libwrap=y
CONFIG_PACKAGE_mt3000_4.2.2_libxml2=y
CONFIG_PACKAGE_mt3000_4.2.2_libxtables12=y
CONFIG_PACKAGE_mt3000_4.2.2_libyaml=y
CONFIG_PACKAGE_mt3000_4.2.2_logd=y
CONFIG_PACKAGE_mt3000_4.2.2_lsqlite3=y
CONFIG_PACKAGE_mt3000_4.2.2_lua=y
CONFIG_PACKAGE_mt3000_4.2.2_lua-cjson=y
CONFIG_PACKAGE_mt3000_4.2.2_luabitop=y
CONFIG_PACKAGE_mt3000_4.2.2_luci=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-app-firewall=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-app-mtkwifi=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-app-opkg=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-base=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-compat=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-i18n-base-en=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-i18n-opkg-zh-cn=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-lib-base=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-lib-ip=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-lib-json=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-lib-jsonc=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-lib-nixio=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-mod-admin-full=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-mod-network=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-mod-rpc=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-mod-status=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-mod-system=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-proto-ipv6=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-proto-ppp=y
CONFIG_PACKAGE_mt3000_4.2.2_luci-theme-bootstrap=y
CONFIG_PACKAGE_mt3000_4.2.2_mii_mgr=y
CONFIG_PACKAGE_mt3000_4.2.2_minidlna=y
CONFIG_PACKAGE_mt3000_4.2.2_mqtt=y
CONFIG_PACKAGE_mt3000_4.2.2_mtd=y
CONFIG_PACKAGE_mt3000_4.2.2_mtkhnat_util=y
CONFIG_PACKAGE_mt3000_4.2.2_mwan3=y
CONFIG_PACKAGE_mt3000_4.2.2_netifd=y
CONFIG_PACKAGE_mt3000_4.2.2_nfs-kernel-server=y
CONFIG_PACKAGE_mt3000_4.2.2_nfs-kernel-server-utils=y
CONFIG_PACKAGE_mt3000_4.2.2_nfs-utils-libs=y
CONFIG_PACKAGE_mt3000_4.2.2_nginx-ssl=y
CONFIG_PACKAGE_mt3000_4.2.2_ntfs-3g=y
CONFIG_PACKAGE_mt3000_4.2.2_ntfs-3g-utils=y
CONFIG_PACKAGE_mt3000_4.2.2_odhcp6c=y
CONFIG_PACKAGE_mt3000_4.2.2_odhcpd-ipv6only=y
CONFIG_PACKAGE_mt3000_4.2.2_openssl-util=y
CONFIG_PACKAGE_mt3000_4.2.2_openvpn-openssl=y
CONFIG_PACKAGE_mt3000_4.2.2_openwrt-keyring=y
CONFIG_PACKAGE_mt3000_4.2.2_opkg=y
CONFIG_PACKAGE_mt3000_4.2.2_oui-librpc=y
CONFIG_PACKAGE_mt3000_4.2.2_ppp=y
CONFIG_PACKAGE_mt3000_4.2.2_ppp-mod-pppoe=y
CONFIG_PACKAGE_mt3000_4.2.2_procd=y
CONFIG_PACKAGE_mt3000_4.2.2_python3=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-asyncio=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-base=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-cgi=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-cgitb=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-codecs=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-cryptodome=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-ctypes=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-dbm=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-decimal=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-distutils=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-email=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-gdbm=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-light=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-logging=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-lzma=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-multiprocessing=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-ncurses=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-openssl=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-pydoc=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-readline=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-sqlite3=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-unittest=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-urllib=y
CONFIG_PACKAGE_mt3000_4.2.2_python3-xml=y
CONFIG_PACKAGE_mt3000_4.2.2_regs=y
CONFIG_PACKAGE_mt3000_4.2.2_relayd=y
CONFIG_PACKAGE_mt3000_4.2.2_resolveip=y
CONFIG_PACKAGE_mt3000_4.2.2_rpcbind=y
CONFIG_PACKAGE_mt3000_4.2.2_rpcd=y
CONFIG_PACKAGE_mt3000_4.2.2_rpcd-mod-file=y
CONFIG_PACKAGE_mt3000_4.2.2_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_mt3000_4.2.2_rpcd-mod-luci=y
CONFIG_PACKAGE_mt3000_4.2.2_rpcd-mod-rrdns=y
CONFIG_PACKAGE_mt3000_4.2.2_rtty-openssl=y
CONFIG_PACKAGE_mt3000_4.2.2_samba4-libs=y
CONFIG_PACKAGE_mt3000_4.2.2_samba4-server=y
CONFIG_PACKAGE_mt3000_4.2.2_samba4-utils=y
CONFIG_PACKAGE_mt3000_4.2.2_smstools3=y
CONFIG_PACKAGE_mt3000_4.2.2_stubby=y
CONFIG_PACKAGE_mt3000_4.2.2_sudo=y
CONFIG_PACKAGE_mt3000_4.2.2_swconfig=y
CONFIG_PACKAGE_mt3000_4.2.2_tailscale=y
CONFIG_PACKAGE_mt3000_4.2.2_tailscaled=y
CONFIG_PACKAGE_mt3000_4.2.2_tc-mod-iptables=y
CONFIG_PACKAGE_mt3000_4.2.2_tc-tiny=y
CONFIG_PACKAGE_mt3000_4.2.2_terminfo=y
CONFIG_PACKAGE_mt3000_4.2.2_tor=y
CONFIG_PACKAGE_mt3000_4.2.2_tor-geoip=y
CONFIG_PACKAGE_mt3000_4.2.2_ubi-utils=y
CONFIG_PACKAGE_mt3000_4.2.2_uboot-envtools=y
CONFIG_PACKAGE_mt3000_4.2.2_ubox=y
CONFIG_PACKAGE_mt3000_4.2.2_ubus=y
CONFIG_PACKAGE_mt3000_4.2.2_ubusd=y
CONFIG_PACKAGE_mt3000_4.2.2_uci=y
CONFIG_PACKAGE_mt3000_4.2.2_uclient-fetch=y
CONFIG_PACKAGE_mt3000_4.2.2_uhttpd=y
CONFIG_PACKAGE_mt3000_4.2.2_uhttpd-mod-ubus=y
CONFIG_PACKAGE_mt3000_4.2.2_unzip=y
CONFIG_PACKAGE_mt3000_4.2.2_uqmi=y
CONFIG_PACKAGE_mt3000_4.2.2_urandom-seed=y
CONFIG_PACKAGE_mt3000_4.2.2_urngd=y
CONFIG_PACKAGE_mt3000_4.2.2_usb-modeswitch=y
CONFIG_PACKAGE_mt3000_4.2.2_usbmuxd=y
CONFIG_PACKAGE_mt3000_4.2.2_usign=y
CONFIG_PACKAGE_mt3000_4.2.2_vsftpd-tls=y
CONFIG_PACKAGE_mt3000_4.2.2_wifi-profile=y
CONFIG_PACKAGE_mt3000_4.2.2_wireguard-tools=y
CONFIG_PACKAGE_mt3000_4.2.2_wireless-regdb=y
CONFIG_PACKAGE_mt3000_4.2.2_wireless-tools=y
CONFIG_PACKAGE_mt3000_4.2.2_wwan=y
CONFIG_PACKAGE_mt3000_4.2.2_zerotier=y
CONFIG_PACKAGE_mt3000_4.2.2_zlib=y
CONFIG_SDKFEEDS_mt3000_4.2.2_base=y
CONFIG_SDKFEEDS_mt3000_4.2.2_gl_feed_21_02=y
CONFIG_SDKFEEDS_mt3000_4.2.2_gl_feed_common=y
CONFIG_SDKFEEDS_mt3000_4.2.2_gl_feed_mtk=y
CONFIG_SDKFEEDS_mt3000_4.2.2_luci=y
CONFIG_SDKFEEDS_mt3000_4.2.2_mtk_openwrt_feed=y
CONFIG_SDKFEEDS_mt3000_4.2.2_packages=y
CONFIG_SDKFEEDS_mt3000_4.2.2_routing=y
CONFIG_SDKFEEDS_mt3000_4.2.2_telephony=y
CONFIG_VERSION_mt3000_4.2.2=y
